{% extends "base.html" %}

{% block content %}
<h1 class="mainTitle">Welcome to AHABot</h1>
<p>To get started sign in below</p>
<div class="buttonDiv">
<a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=709385511383.710502883904"><img alt=""Sign in with Slack"" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
</div>
{% endblock %}