{% extends "base.html" %}

{% block content %}
{% load socialaccount %}

<div class="titleContainer">
<h1 class="mainTitle">Welcome to AHAbot</h1>
<div class="subTitleContainer">
<h3>To get started sign in below</h3>
<div class="buttonDiv">
<a href="{% provider_login_url 'slack' %}"><img class="slackButton" alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
</div>
</div>
</div>
</div>


{% endblock %}