{% extends "base.html" %}

{% block content %}
<div class="registerDiv">
<h1>Your registration was successful!</h1>
<p>Click the button below to add our app to your Workspace.</p> 
<a href="https://slack.com/oauth/authorize?scope=incoming-webhook&client_id=709385511383.710502883904"><img class="add_to_slack" alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
<p>Now you have control of your home from anywhere!</p>
<a class="internalLink" href="{% url 'helppage' %}">See full list of commands</a>
{% endblock %}
